.schedule_contents{
    width: 90%;
    height: 255px;
    display: inline-block;
    margin: 50px 0 0 6%;
}

.schedule_title{
    display: flex;
    font-weight: 500;
    font-size: 36px;
    text-transform: capitalize;
}
.schedule_starts{
    display: flex;
    font-weight: 500;
    font-size: 15px;
    margin-top: -20px;
}
.schedule_green_font{
    margin-left: 5px;
    color: var(--green-font);
}

.schedule_content_container
{
    display: block;
}

.schedule_top_side
{
    width: 100%;
    height: auto;
    
}

.schedule_bottom_side
{
  width: 100%;
  height: auto;
}

/* Calendar style */

/* left side */

.schedule_main_contents{
  width: 100%;
  height: auto;
  display: flex;
}

.schedule_note_container{
  height: max-content;
  width: 590px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 15px;
  margin-right: 25px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);  
}
.title_notes{
  font-size: 30px;
  font-weight: 500;
  text-decoration: underline;
  margin: 10px 0 15px 25px;
}

.notes_link{
  margin-left: 25px;
  font-weight: 500;
  font-size: 15px;
}
.notes_link li p{
  width: max-content;
  color: #2274FF;
}
.notes_link li{
  margin-top: -12px;
  width: 95%;
}
.notes_link li p:hover{
  cursor: pointer;
}
.delliBtnWorkbench{
  color: white;
  font-size: 10px;
  font-weight: 500;
  border-color: transparent;
  border-radius: 10px;
  padding: 0px 8px;
  background-color: var(--red);
  margin-left: 10px;
}
.schedule_tutor{
  width: 100%;
  margin-top: 20px;
}

.schedule_tutor_title{
  text-decoration: underline;
  font-weight: 500;
  font-size: 28px;
  color: var(--black);
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 5px 0 5px 0;
}

.table_schedule_tutor{
  font-size: 15px;
  text-align: center;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.table_schedule_title_row{
  background-color: #BDF6D5;
  padding: 10px 0;
}

.table_schedule_title_row th{
  padding: 10px 0;
  border-right: 1.5px solid #646464;
}

.table_schedule_title_row th:last-child{
  border-right: none;
}

.table_schedule_tutor td{
  font-weight: 500;
  padding: 10px 0;
  border-right: 1.5px solid  #646464;
}  
.table_schedule_tutor td:last-child{
  border-right: none;
  padding-bottom: 10px;
}

.table_schedule_tutor th{
  padding-right: 10px;
}


.table_schedule_tutor_container{
  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);  
  margin-bottom: 20px;
}

#editable {
  border: 1px solid black;
  padding: 10px;
  cursor: text;
}